<div class="forgot-password-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Recuperar Senha</mat-card-title>
      <mat-card-subtitle>Informe seu email para receber o link de redefinição</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <!-- Campo Email -->
        <mat-form-field appearance="outline">
          <mat-label>Email Corporativo</mat-label>
          <input matInput formControlName="email" type="email" placeholder="seu.email@tahto.com.br ou admin@admin.com" required>
          <mat-error *ngIf="forgotPasswordForm.get('email')?.hasError('required')">
            Email é obrigatório.
          </mat-error>
          <mat-error *ngIf="forgotPasswordForm.get('email')?.hasError('email')">
            Formato de email inválido.
          </mat-error>
        </mat-form-field>

        <!-- Mensagem de Erro -->
        <p class="error-message" *ngIf="errorMessage">
          {{ errorMessage }}
        </p>

        <!-- Mensagem de Sucesso -->
        <p class="success-message" *ngIf="successMessage">
          {{ successMessage }}
        </p>

        <!-- Botão de Enviar e Spinner -->
        <div class="button-container">
          <button mat-raised-button color="primary" type="submit" [disabled]="forgotPasswordForm.invalid || isLoading">
            <span *ngIf="!isLoading">Enviar Email</span>
            <mat-spinner *ngIf="isLoading" diameter="24"></mat-spinner>
          </button>
        </div>
      </form>

      <!-- Link para Login -->
      <div class="additional-links">
        <a routerLink="/login">Voltar para Login</a>
      </div>

    </mat-card-content>
  </mat-card>
</div>

